.content {
  .repo-header {
    display: flex;
    align-items: center;
  }

  .repo-author {
    margin-left: 5px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .repo {
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--semi-color-fill-0);
  }

  .language-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .description {
    display: block;
    margin-bottom: 20px;
  }

  .bottom-area {
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .avatar {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 4px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
    }
  }

  .cursor {
    cursor: pointer;
  }
}
