.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--semi-color-bg-0);
  backdrop-filter: saturate(180%) blur(30px);
  transition: all 0.2s;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .heading {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;

    .heading-title {
      margin-left: 5px;
    }
  }

  .trending-type {
    display: flex;

    .trending-type-button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .trending-type-button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 3px 0;

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
    }

    .top {
      display: flex;
    }
  }
}
