.content {
  padding-top: 15px;

  .developer {
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--semi-color-fill-0);
  }

  .header {
    display: flex;
    align-items: center;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .description {
    margin-top: 10px;
  }

  .cursor {
    cursor: pointer;
  }
}
