.back-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #0077fa;
  color: #fff;
  bottom: 20px;
  right: 10px;
}

.empty {
  height: 74vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .empty-description {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
