.refresh-button {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgb(30, 151, 164);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
