::-webkit-scrollbar {
  display: none;
}

.layout {
  background-color: var(--semi-color-bg-0);
  padding: 20px;
  min-width: 400px;
}

.copyright {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
