/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.layout {
  background-color: var(--semi-color-bg-0);
  padding: 20px 20px 50px;
}

.trending-type {
  display: flex;

  .trending-type-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .trending-type-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.settings {
  display: flex;
  flex-direction: column;
  padding-top: 6px;

  .top {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 4px;
  }

  .left {
    display: flex;
    align-items: center;
  }
}

.copyright {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.back-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #0077fa;
  color: #fff;
  bottom: 20px;
  right: 10px;
}
