<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		>
		<title>Raise - GitHub Trending</title>
	</head>

	<body>
		<div id="root"></div>

    <% if (htmlWebpackPlugin.options.isChrome) { %>
			<script src="./chrome/popup.js"></script>
			<script
				defer
				data-domain="<%= htmlWebpackPlugin.options.analyticsDomain %>"
				data-api="http://analytics.curve.to/api/event"
				src="./analytics/plausible.js">
			</script>
    <% } %>

    <% if (htmlWebpackPlugin.options.isElectron) { %>
			<script
				defer 
				data-domain="<%= htmlWebpackPlugin.options.analyticsDomain %>"
				data-api="http://analytics.curve.to/api/event"
				src="https://analytics.curve.to/js/script.local.js">
			</script>
    <% } %>
	</body>

</html>
