<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		>
		<title>Raise - GitHub Trending</title>

		<!-- Only the Electron app will track -->
    <% if (htmlWebpackPlugin.options.isElectron) { %>
			<script
			async
			defer
			data-website-id="<%= htmlWebpackPlugin.options.analyticsId %>"
			src="https://analytics.curve.to/umami.js"
		></script>
    <% } %>
	</head>

	<body>
		<div id="root"></div>
	</body>

</html>
